
.about-container {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 68%; /* Mueve el contenedor al 50% desde la parte superior */
    left: 50%; /* Mueve el contenedor al 50% desde la parte izquierda */
    transform: translate(-50%, -50%); /* Transforma el contenedor para centrarlo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/aboutcont3.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh; /* Ajusta el ancho según sea necesario */
    height: 90vh;
    box-sizing: border-box;
  }
.about-text{
    color:rgb(0,0,240);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.PDF {
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: calc(26% - 100px); /* Ajusta según sea necesario */
    left: 50%; /* Mueve el botón al 50% desde la parte izquierda */
    transform: translateX(-50%); /* Centra horizontalmente */
    content: "Presiona para descargar";
  }
  .download-logo {
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    cursor: pointer; /* Cambia el cursor a una mano cuando se coloca sobre el logo */
    
  }

  .Sobre-Mi{
      color: rgb(255,165,0);
  }

  .yo-izq{
      width: 150px;
      height: auto;
      position: absolute;
      top: 25%; /* Mueve el contenedor al 50% desde la parte superior */
      left: 20%; /* Mueve el contenedor al 50% desde la parte izquierda */
      transform: translate(-50%, -50%); /* Transforma el contenedor para centrarlo */
      animation: pixelate 1s ease-in-out; /* Aplica la animación */


  }

  .yo-der{
    width: 150px;
    height: auto;
    position: absolute;
    top: 25%; /* Mueve el contenedor al 50% desde la parte superior */
    right: 10%; /* Mueve el contenedor al 50% desde la parte izquierda */
    transform: translate(-50%, -50%); /* Transforma el contenedor para centrarlo */
    animation: pixelate 1s ease-in-out; /* Aplica la animación */

}

@keyframes pixelate {
    0% {
      filter: blur(20px);
    }
    100% {
      filter: blur(0);
    }
}

