

.about-text {
  color: rgb(0, 0, 240);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.PDF {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
  z-index: 10;
  position: relative; 
  content: "Presiona para descargar";
  }
  .download-logo {
    width: 100px; 
    height: auto; 
    cursor: pointer; 
    
  }

  .Sobre-Mi{
    color: rgb(255, 165, 0);
    text-align: center; 
    margin-top: 60px; 
  

    
  }


  .image-row {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
  }
  
  .image-row.left {
    justify-content: flex-start;
  }
  
  .image-row.right {
    justify-content: flex-end;
  }
  
  .image-row img {
    width: 100px; 
    height: auto;
    margin: 0px 90px; 
    animation: pixelate 1s ease-in-out;
  }
  .about-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;


  }
  
  
  
  

@keyframes pixelate {
    0% {
      filter: blur(20px);
    }
    100% {
      filter: blur(0);
    }
}

