

.background-1 {
  background-image: url('/src/assets/back1.jpeg');
  background-size: cover;
}

.background-2 {
  background-image: url('/src/assets/back9.jpeg');
  background-size: cover;
}

.background-3 {
  background-image: url('/src/assets/back3.jpeg');
  background-size: cover;
  background-color: grey;
}
